.sampctl/
dependencies/
.vscode/
.github/
gamemodes/*.amx
server_log.txt
samp-npc
samp03svr
announce
sampctl_build_file.inc
pawn.lock
*/.DS_Store
.DS_Store
logs/*
plugins/*
server.json
*.amx
*.so
docker-compose.yml